In [1]:
import numpy as np
import pandas as pd

### Generating series of times

In [11]:
# freuency 'MS' stands for month start
# frequency 'B' stands for business days, only weekdays will be considered
time_range = pd.date_range(start= '2020 Jan 01 9:00',
                           end = '2020 Dec 31',
                           tz = 'Asia/Kolkata',
                           freq = 'B',)
time_range

DatetimeIndex(['2020-01-01 09:00:00+05:30', '2020-01-02 09:00:00+05:30',
               '2020-01-03 09:00:00+05:30', '2020-01-06 09:00:00+05:30',
               '2020-01-07 09:00:00+05:30', '2020-01-08 09:00:00+05:30',
               '2020-01-09 09:00:00+05:30', '2020-01-10 09:00:00+05:30',
               '2020-01-13 09:00:00+05:30', '2020-01-14 09:00:00+05:30',
               ...
               '2020-12-17 09:00:00+05:30', '2020-12-18 09:00:00+05:30',
               '2020-12-21 09:00:00+05:30', '2020-12-22 09:00:00+05:30',
               '2020-12-23 09:00:00+05:30', '2020-12-24 09:00:00+05:30',
               '2020-12-25 09:00:00+05:30', '2020-12-28 09:00:00+05:30',
               '2020-12-29 09:00:00+05:30', '2020-12-30 09:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', length=261, freq='B')

### Which of these formats DON'T work?
#'2020 Jul 1', '7/1/2020', '1/7/2020', 'July 1, 2020', '2020-07-01'

In [17]:
time_range_check = pd.date_range(start= '2020 Jul 1',
                                 periods = 10,
                                 tz = 'Asia/Kolkata',
                                 freq = 'B',)
time_range_check

DatetimeIndex(['2020-07-01 00:00:00+05:30', '2020-07-02 00:00:00+05:30',
               '2020-07-03 00:00:00+05:30', '2020-07-06 00:00:00+05:30',
               '2020-07-07 00:00:00+05:30', '2020-07-08 00:00:00+05:30',
               '2020-07-09 00:00:00+05:30', '2020-07-10 00:00:00+05:30',
               '2020-07-13 00:00:00+05:30', '2020-07-14 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='B')

In [21]:
time_range_check = pd.date_range(start= '30/1/2020',
                                 periods = 10,
                                 tz = 'Asia/Kolkata',
                                 freq = 'B',)
time_range_check

DatetimeIndex(['2020-01-30 00:00:00+05:30', '2020-01-31 00:00:00+05:30',
               '2020-02-03 00:00:00+05:30', '2020-02-04 00:00:00+05:30',
               '2020-02-05 00:00:00+05:30', '2020-02-06 00:00:00+05:30',
               '2020-02-07 00:00:00+05:30', '2020-02-10 00:00:00+05:30',
               '2020-02-11 00:00:00+05:30', '2020-02-12 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='B')

In [22]:
time_range_check = pd.date_range(start= '1/30/2020',
                                 periods = 10,
                                 tz = 'Asia/Kolkata',
                                 freq = 'B',)
time_range_check

DatetimeIndex(['2020-01-30 00:00:00+05:30', '2020-01-31 00:00:00+05:30',
               '2020-02-03 00:00:00+05:30', '2020-02-04 00:00:00+05:30',
               '2020-02-05 00:00:00+05:30', '2020-02-06 00:00:00+05:30',
               '2020-02-07 00:00:00+05:30', '2020-02-10 00:00:00+05:30',
               '2020-02-11 00:00:00+05:30', '2020-02-12 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='B')

In [23]:
time_range_check = pd.date_range(start= 'July 1, 2020',
                                 periods = 10,
                                 tz = 'Asia/Kolkata',
                                 freq = 'B',)
time_range_check

DatetimeIndex(['2020-07-01 00:00:00+05:30', '2020-07-02 00:00:00+05:30',
               '2020-07-03 00:00:00+05:30', '2020-07-06 00:00:00+05:30',
               '2020-07-07 00:00:00+05:30', '2020-07-08 00:00:00+05:30',
               '2020-07-09 00:00:00+05:30', '2020-07-10 00:00:00+05:30',
               '2020-07-13 00:00:00+05:30', '2020-07-14 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='B')

In [24]:
time_range_check = pd.date_range(start= '2020-07-01',
                                 periods = 10,
                                 tz = 'Asia/Kolkata',
                                 freq = 'B',)
time_range_check

DatetimeIndex(['2020-07-01 00:00:00+05:30', '2020-07-02 00:00:00+05:30',
               '2020-07-03 00:00:00+05:30', '2020-07-06 00:00:00+05:30',
               '2020-07-07 00:00:00+05:30', '2020-07-08 00:00:00+05:30',
               '2020-07-09 00:00:00+05:30', '2020-07-10 00:00:00+05:30',
               '2020-07-13 00:00:00+05:30', '2020-07-14 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='B')

### How much detail can you add?

In [41]:
day_name_series = time_range.day_name()
week_of_the_year = time_range.weekofyear
yesr_calendar = pd.DataFrame()
day_of_the_week = time_range.dayofweek
yesr_calendar['Dates'] = time_range
yesr_calendar['Day'] = day_name_series
yesr_calendar['week_of_the_year'] = week_of_the_year
yesr_calendar['day_of_the_week'] = day_of_the_week + 1
yesr_calendar

                        Dates        Day  week_of_the_year  day_of_the_week
0   2020-01-01 09:00:00+05:30  Wednesday                 1                3
1   2020-01-02 09:00:00+05:30   Thursday                 1                4
2   2020-01-03 09:00:00+05:30     Friday                 1                5
3   2020-01-06 09:00:00+05:30     Monday                 2                1
4   2020-01-07 09:00:00+05:30    Tuesday                 2                2
..                        ...        ...               ...              ...
256 2020-12-24 09:00:00+05:30   Thursday                52                4
257 2020-12-25 09:00:00+05:30     Friday                52                5
258 2020-12-28 09:00:00+05:30     Monday                53                1
259 2020-12-29 09:00:00+05:30    Tuesday                53                2
260 2020-12-30 09:00:00+05:30  Wednesday                53                3

[261 rows x 4 columns]