In [1]:
import numpy as np
import pandas as pd

### Generating series of times

In [2]:
# freuency 'MS' stands for month start
# frequency 'B' stands for business days, only weekdays will be considered
time_range = pd.date_range(start= '2020 Jan 01 9:00',
                           end = '2020 Dec 31',
                           tz = 'Asia/Kolkata',
                           freq = 'B',)
time_range

DatetimeIndex(['2020-01-01 09:00:00+05:30', '2020-01-02 09:00:00+05:30',
               '2020-01-03 09:00:00+05:30', '2020-01-06 09:00:00+05:30',
               '2020-01-07 09:00:00+05:30', '2020-01-08 09:00:00+05:30',
               '2020-01-09 09:00:00+05:30', '2020-01-10 09:00:00+05:30',
               '2020-01-13 09:00:00+05:30', '2020-01-14 09:00:00+05:30',
               ...
               '2020-12-17 09:00:00+05:30', '2020-12-18 09:00:00+05:30',
               '2020-12-21 09:00:00+05:30', '2020-12-22 09:00:00+05:30',
               '2020-12-23 09:00:00+05:30', '2020-12-24 09:00:00+05:30',
               '2020-12-25 09:00:00+05:30', '2020-12-28 09:00:00+05:30',
               '2020-12-29 09:00:00+05:30', '2020-12-30 09:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', length=261, freq='B')

### Which of these formats DON'T work?
#'2020 Jul 1', '7/1/2020', '1/7/2020', 'July 1, 2020', '2020-07-01'

In [3]:
time_range_check = pd.date_range(start= '2020 Jul 1',
                                 periods = 10,
                                 tz = 'Asia/Kolkata',
                                 freq = 'B',)
time_range_check

DatetimeIndex(['2020-07-01 00:00:00+05:30', '2020-07-02 00:00:00+05:30',
               '2020-07-03 00:00:00+05:30', '2020-07-06 00:00:00+05:30',
               '2020-07-07 00:00:00+05:30', '2020-07-08 00:00:00+05:30',
               '2020-07-09 00:00:00+05:30', '2020-07-10 00:00:00+05:30',
               '2020-07-13 00:00:00+05:30', '2020-07-14 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='B')

In [4]:
time_range_check = pd.date_range(start= '30/1/2020',
                                 periods = 10,
                                 tz = 'Asia/Kolkata',
                                 freq = 'B',)
time_range_check

DatetimeIndex(['2020-01-30 00:00:00+05:30', '2020-01-31 00:00:00+05:30',
               '2020-02-03 00:00:00+05:30', '2020-02-04 00:00:00+05:30',
               '2020-02-05 00:00:00+05:30', '2020-02-06 00:00:00+05:30',
               '2020-02-07 00:00:00+05:30', '2020-02-10 00:00:00+05:30',
               '2020-02-11 00:00:00+05:30', '2020-02-12 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='B')

In [5]:
time_range_check = pd.date_range(start= '1/30/2020',
                                 periods = 10,
                                 tz = 'Asia/Kolkata',
                                 freq = 'B',)
time_range_check

DatetimeIndex(['2020-01-30 00:00:00+05:30', '2020-01-31 00:00:00+05:30',
               '2020-02-03 00:00:00+05:30', '2020-02-04 00:00:00+05:30',
               '2020-02-05 00:00:00+05:30', '2020-02-06 00:00:00+05:30',
               '2020-02-07 00:00:00+05:30', '2020-02-10 00:00:00+05:30',
               '2020-02-11 00:00:00+05:30', '2020-02-12 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='B')

In [6]:
time_range_check = pd.date_range(start= 'July 1, 2020',
                                 periods = 10,
                                 tz = 'Asia/Kolkata',
                                 freq = 'B',)
time_range_check

DatetimeIndex(['2020-07-01 00:00:00+05:30', '2020-07-02 00:00:00+05:30',
               '2020-07-03 00:00:00+05:30', '2020-07-06 00:00:00+05:30',
               '2020-07-07 00:00:00+05:30', '2020-07-08 00:00:00+05:30',
               '2020-07-09 00:00:00+05:30', '2020-07-10 00:00:00+05:30',
               '2020-07-13 00:00:00+05:30', '2020-07-14 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='B')

In [7]:
time_range_check = pd.date_range(start= '2020-07-01',
                                 periods = 10,
                                 tz = 'Asia/Kolkata',
                                 freq = 'B',)
time_range_check

DatetimeIndex(['2020-07-01 00:00:00+05:30', '2020-07-02 00:00:00+05:30',
               '2020-07-03 00:00:00+05:30', '2020-07-06 00:00:00+05:30',
               '2020-07-07 00:00:00+05:30', '2020-07-08 00:00:00+05:30',
               '2020-07-09 00:00:00+05:30', '2020-07-10 00:00:00+05:30',
               '2020-07-13 00:00:00+05:30', '2020-07-14 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='B')

### How much detail can you add?

In [8]:
day_name_series = time_range.day_name()
week_of_the_year = time_range.weekofyear
yesr_calendar = pd.DataFrame()
day_of_the_week = time_range.dayofweek
yesr_calendar['Dates'] = time_range
yesr_calendar['Day'] = day_name_series
yesr_calendar['week_of_the_year'] = week_of_the_year
yesr_calendar['day_of_the_week'] = day_of_the_week + 1
yesr_calendar

                        Dates        Day  week_of_the_year  day_of_the_week
0   2020-01-01 09:00:00+05:30  Wednesday                 1                3
1   2020-01-02 09:00:00+05:30   Thursday                 1                4
2   2020-01-03 09:00:00+05:30     Friday                 1                5
3   2020-01-06 09:00:00+05:30     Monday                 2                1
4   2020-01-07 09:00:00+05:30    Tuesday                 2                2
..                        ...        ...               ...              ...
256 2020-12-24 09:00:00+05:30   Thursday                52                4
257 2020-12-25 09:00:00+05:30     Friday                52                5
258 2020-12-28 09:00:00+05:30     Monday                53                1
259 2020-12-29 09:00:00+05:30    Tuesday                53                2
260 2020-12-30 09:00:00+05:30  Wednesday                53                3

[261 rows x 4 columns]

### Time offsets

In [9]:
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [10]:
pd.Timestamp('2020-01-01') + pd.Timedelta('10 days')

Timestamp('2020-01-11 00:00:00')

In [11]:
number_of_hours_worked = input('Enter the number of hours to be worked: ')
working_hour_timings = pd.DataFrame()
working_hour_timings['Start'] = time_range
working_hour_timings['End'] = time_range + pd.Timedelta(number_of_hours_worked+'hours')
working_hour_timings.head()

Enter the number of hours to be worked: 8

                      Start                       End
0 2020-01-01 09:00:00+05:30 2020-01-01 17:00:00+05:30
1 2020-01-02 09:00:00+05:30 2020-01-02 17:00:00+05:30
2 2020-01-03 09:00:00+05:30 2020-01-03 17:00:00+05:30
3 2020-01-06 09:00:00+05:30 2020-01-06 17:00:00+05:30
4 2020-01-07 09:00:00+05:30 2020-01-07 17:00:00+05:30

### timestamp data to periods data

In [12]:
ts = pd.Series(range(50), pd.date_range('01-01-2020 8:15', periods = 50, freq = 'H'))
ts.head()

2020-01-01 08:15:00    0
2020-01-01 09:15:00    1
2020-01-01 10:15:00    2
2020-01-01 11:15:00    3
2020-01-01 12:15:00    4
Freq: H, dtype: int64

In [13]:
print(type(ts.index))
print(type(ts.index[0]))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [14]:
ts_period = ts.to_period(freq = '60T' )
ts_period.head()

2020-01-01 08:15    0
2020-01-01 09:15    1
2020-01-01 10:15    2
2020-01-01 11:15    3
2020-01-01 12:15    4
Freq: 60T, dtype: int64

* when looking for string matching in periods, it will look for overlapping, however for timestamping it will only look for particular match

In [15]:
ts_period['01-01-2020 09']

2020-01-01 09:15    1
2020-01-01 10:15    2
Freq: 60T, dtype: int64

In [16]:
ts['01-01-2020 09']

2020-01-01 09:15:00    1
Freq: H, dtype: int64

### grab everything between index dates

In [17]:
ts['01-01-2020':'01-02-2020']

2020-01-01 08:15:00     0
2020-01-01 09:15:00     1
2020-01-01 10:15:00     2
2020-01-01 11:15:00     3
2020-01-01 12:15:00     4
2020-01-01 13:15:00     5
2020-01-01 14:15:00     6
2020-01-01 15:15:00     7
2020-01-01 16:15:00     8
2020-01-01 17:15:00     9
2020-01-01 18:15:00    10
2020-01-01 19:15:00    11
2020-01-01 20:15:00    12
2020-01-01 21:15:00    13
2020-01-01 22:15:00    14
2020-01-01 23:15:00    15
2020-01-02 00:15:00    16
2020-01-02 01:15:00    17
2020-01-02 02:15:00    18
2020-01-02 03:15:00    19
2020-01-02 04:15:00    20
2020-01-02 05:15:00    21
2020-01-02 06:15:00    22
2020-01-02 07:15:00    23
2020-01-02 08:15:00    24
2020-01-02 09:15:00    25
2020-01-02 10:15:00    26
2020-01-02 11:15:00    27
2020-01-02 12:15:00    28
2020-01-02 13:15:00    29
2020-01-02 14:15:00    30
2020-01-02 15:15:00    31
2020-01-02 16:15:00    32
2020-01-02 17:15:00    33
2020-01-02 18:15:00    34
2020-01-02 19:15:00    35
2020-01-02 20:15:00    36
2020-01-02 21:15:00    37
2020-01-02 22:15:00    38
2020-01-02 23:15:00    39
Freq: H, dtype: int64

In [18]:
ts['01-02-2020':]

2020-01-02 00:15:00    16
2020-01-02 01:15:00    17
2020-01-02 02:15:00    18
2020-01-02 03:15:00    19
2020-01-02 04:15:00    20
2020-01-02 05:15:00    21
2020-01-02 06:15:00    22
2020-01-02 07:15:00    23
2020-01-02 08:15:00    24
2020-01-02 09:15:00    25
2020-01-02 10:15:00    26
2020-01-02 11:15:00    27
2020-01-02 12:15:00    28
2020-01-02 13:15:00    29
2020-01-02 14:15:00    30
2020-01-02 15:15:00    31
2020-01-02 16:15:00    32
2020-01-02 17:15:00    33
2020-01-02 18:15:00    34
2020-01-02 19:15:00    35
2020-01-02 20:15:00    36
2020-01-02 21:15:00    37
2020-01-02 22:15:00    38
2020-01-02 23:15:00    39
2020-01-03 00:15:00    40
2020-01-03 01:15:00    41
2020-01-03 02:15:00    42
2020-01-03 03:15:00    43
2020-01-03 04:15:00    44
2020-01-03 05:15:00    45
2020-01-03 06:15:00    46
2020-01-03 07:15:00    47
2020-01-03 08:15:00    48
2020-01-03 09:15:00    49
Freq: H, dtype: int64

* How can we create a pd.Timestamp with a European style formatted date string? in particular we want 04 March 206 presented in Euro style and converted to timestampe

In [19]:
print(pd.to_datetime(arg = '01 Mar 2020'))
print('Day: {}, Month: {}, year:{} '.format((pd.to_datetime(arg = '01 Mar 2020')).day,
                                            (pd.to_datetime(arg = '01 Mar 2020')).month,
                                            (pd.to_datetime(arg = '01 Mar 2020')).year))

2020-03-01 00:00:00
Day: 1, Month: 3, year:2020

In [20]:
# (pd.to_datetime(arg = '01/03/2020')).day
print(pd.to_datetime(arg = '01/03/2020'))
print('Day: {}, Month: {}, year:{} '.format((pd.to_datetime(arg = '01/03/2020')).day,
                                            (pd.to_datetime(arg = '01/03/2020')).month,
                                            (pd.to_datetime(arg = '01/03/2020')).year))

2020-01-03 00:00:00
Day: 3, Month: 1, year:2020

In [21]:
print(pd.to_datetime(arg = '01/03/2020', dayfirst = True))
print('Day: {}, Month: {}, year:{} '.format((pd.to_datetime(arg = '01/03/2020', dayfirst = True)).day,
                                            (pd.to_datetime(arg = '01/03/2020', dayfirst = True)).month,
                                            (pd.to_datetime(arg = '01/03/2020', dayfirst = True)).year))

2020-03-01 00:00:00
Day: 1, Month: 3, year:2020

* How can we generate the string representation in a desired format from a pd.Timestamp, for example we want to extract a string'2020' from the pd.Timestamp('01 March 2020')

In [22]:
str(pd.Timestamp('01 March 2020').year)

'2020'

In [23]:
[str(num.year) for num in time_range]

['2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020',
 '2020']

### More neat indexing

* numbers[start : end : step]

In [24]:
numbers = list(range(11))
numbers[len(numbers)::-2]

[10, 8, 6, 4, 2, 0]

In [25]:
ts_period['01-01-2020'::10]

2020-01-01 08:15     0
2020-01-01 18:15    10
2020-01-02 04:15    20
2020-01-02 14:15    30
2020-01-03 00:15    40
Freq: 60T, dtype: int64

In [26]:
ts_period[pd.Period('01 Jan 2020', freq = '60T')::10]

2020-01-01 08:15     0
2020-01-01 18:15    10
2020-01-02 04:15    20
2020-01-02 14:15    30
2020-01-03 00:15    40
Freq: 60T, dtype: int64